# =============================================================================
# TheraPrac Ziti Nonprod - AWS EC2 Dynamic Inventory with SSM
# =============================================================================
plugin: amazon.aws.aws_ec2

regions:
  - us-west-2

filters:
  tag:Role: ziti-server
  instance-state-name: running

hostnames:
  - instance-id

compose:
  ansible_host: private_ip_address
  ansible_connection: community.aws.aws_ssm
  ansible_aws_ssm_region: us-west-2
  ansible_aws_ssm_bucket_name: ""
  ansible_user: ec2-user

keyed_groups:
  - key: tags.Environment
    prefix: env
  - key: tags.Role
    prefix: role
