# =============================================================================
# Certbot Role - Handlers
# =============================================================================

---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Reload nginx
  ansible.builtin.systemd:
    name: nginx
    state: reloaded



